<div class="profile-container">
  <h2>User Profile</h2>

  <div class="row">
    <label>ID</label>
    <input [value]="user.id" readonly>
  </div>

  <div class="row">
    <label>Name</label>
    <input [value]="user.name" readonly>
  </div>

  <div class="row">
    <label>Email</label>
    <input [value]="user.email" readonly>
  </div>

  <div class="row">
    <label>Password</label>
    <input type="password" [value]="user.password" readonly>
  </div>

  <div class="row">
    <label>Role</label>
    <input [value]="user.role" readonly>
  </div>
</div>